@model WebApplicationMVC.Models.Category

@{
    ViewBag.Title = "Create Category";
}

<h2>Create Category</h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    <div>
        <label>Category Name:</label>
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
    </div>
    <button type="submit">Save</button>
}
